<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/chat_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chat_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chat">
        <activity android:name=".addFriendsPackage.addFriendsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".chatSectionPackage.profileFragmentPackage.changeImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".friendChatPackage.friendChat"
            android:theme="@style/Theme.ChatLogin"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".authenticationPackage.forgotActivity"
            android:theme="@style/Theme.ChatLogin" />
        <activity android:name=".chatSectionPackage.chatSectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".authenticationPackage.signupActivity"
            android:theme="@style/Theme.ChatLogin"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".authenticationPackage.loginActivity"
            android:theme="@style/Theme.ChatLogin"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="chat-4dbb2.firebaseapp.com" android:scheme="http"/>
                <data android:host="chat-4dbb2.firebaseapp.com" android:scheme="https"/>
                -->
            </intent-filter>
        </activity>

    </application>

</manifest>